# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
.env
.env.*
venv/
env/
virtualenv/
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
static/
*.pot

# React
node_modules/
dist/
build/
coverage/
*.log
*.env
*.env.*
*.tsbuildinfo
npm-debug.log
yarn-debug.log
yarn-error.log

# Vite
.vite/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db

# Package Distribution
*.tar.gz
*.whl

# Sphinx documentation
docs/_build/
build/

.history
